html {
  scroll-behavior: smooth;
}

body{
  font-family: Helvetica Neue;
  font-size: 12px;
  color: #717171;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    margin: 0 auto;
}
iframe{
width: 100%;
height:auto;
}

.modal{
    -webkit-overflow-scrolling: auto !important;
    overflow-y: auto !important;
}

.navbar .navbar-expand-lg .navbar-light{
  background-color: #FFFFFF;
}

.nav-link{
  display: inline;
}

.navbar-nav{
  color: #666666;
  font-size: 12px;
  padding-top: 50px;
  padding-right: 280px;
  padding-bottom: 0px;
}

.navbar-nav>li::after {
  content: "|";
  float: right;
  color: #666666;
}

.navbar-nav>li:last-child::after {
  display: none;
}

/*close menu X*/
.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
/*remove "|" from collapse menu*/
.navbar-collapse.collapsing,
.navbar-collapse.show
.navbar-nav>li::after{
    display: none;
}

.navbar-collapse.collapsing,
.navbar-collapse.show
.navbar-nav>li{
    padding-top: 0px;
    padding-bottom: 10px;
    white-space: nowrap;
}


.navbar-brand{
  padding-left: 15px;
  padding-bottom: 0px;
}

.jumbotron{
	padding: 0px 0px 0px 0px;
  position: relative;
}

.brand-right{
border-radius: 0px 15px 15px 0px;
background-color: #293A89;
font-size: 12px;
overflow: hidden;
color: #FFFFFF;
}

.video-container{
  position: relative;
  padding-bottom: 60%;
  height:0;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  padding-right: 0px;
  padding-left: 0px;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.btn{
border: 1px solid #FFFFFF;
border-radius: 0px 0px 0px 0px;
background-color: #293A89;
font-size: 12px;
}

.brand-right img{
  position: relative;
  top: 25px;
}

.brand-right p{
position: relative;
top: 30px;
}

.brand-right .btn-group-vertical{
position: relative;
top: 50px;
}

.brand-right .brand-logo{
position: relative;
top: 90px;
bottom: 0px;
}
/* END branding on right of iframe*/

.modal-dialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;
}

.modal-content {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}

/*****Show more and less*****/

.outer-container{
  width: 100%;
  position:absolute;
  bottom:0;
}

#module {
font-size: 12px;
line-height: 1.3;
}


#module #collapseExample.collapse:not(.show) {
display: block;
height: 1rem;
overflow: hidden;
}

#module #collapseExample.collapsing {
height: 1rem;
}

#module a.collapsed::after {
content: '+ Show More';
float: right;

}

#module a:not(.collapsed)::after {
content: '- Show Less';
float: right;
}
.outer-container{
  width:100%;
  background: #FFFFFF;
  padding-top: 15px;
}
.container .isi-container{
border: 1px solid #00000029;
background: #FFFFFF;
font-size: 12px;
padding-top: 5px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;

}
.container h5{
color: #293A89;
padding: 0px 0px
}

.container .paragraph1{
color: #000000;
}

.container .paragraph2{
color: #293A89;
}

.container .paragraph3{
color: #293A89;
}

/*sidepanel*/
.iframe-container{
  width:100%;
  height: auto;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #293A89;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #FFFFFF;
}

.sidepanel a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #FFFFFF;
  transition: 0.3s;
}


.sidepanel a:hover {
  color: #818181;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  border-bottom: none;
}

.openbtn {
  z-index: 1;
  font-size: 12px;
  cursor: pointer;
  background-color: #293A89;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  margin: 0;
  right:0;
  position: absolute;
  top: 0;
}

.openbtn:hover {
  background-color:#444;
}

.sidepanel .brand-right-sidepanel .btn{
border: 1px solid #FFFFFF;
border-radius: 0px 0px 0px 0px;
background-color: #293A89;
font-size: 12px;
}

.sidepanel .brand-right-sidepanel{
  padding:50px 50px 50px 50px;
  position: relative;
  text-align: center;

}
.sidepanel .brand-right-sidepanel img{
position: relative;

}

.sidepanel .brand-right-sidepanel p{
position: relative;
top: 30px;
}

.sidepanel .brand-right-sidepanel .btn-group-vertical{
position: relative;
top: 50px;
}

.sidepanel .brand-right-sidepanel .brand-logo{
position: relative;
top: 90px;
bottom: 0px;
}

/*iPad pro 1024px and below*/
@media (max-width:1024px) {
.video-container{
  padding-bottom: 100%;
}
}
/* Medium devices (tablets, 768px and below)*/

@media (max-width:768px) {
.brand-right{
  display: none;
}
}
/*hide wrapper on medium and lerge devices*/
@media (min-width: 768px) {
.sidepanel{
  display: none;
}
.openbtn{
  display: none;
}
}
