/*branding on right */
.user-styles .user-info{
  padding-top: 10px;
  padding-left: 20px;
}

.user-styles img{
  position: relative;
  top: 25px;
}

.user-styles a{
  color: #FFFFFF;
  text-decoration: none;
}
.user-styles  p{
position: relative;
text-align: center;
top: 30px;
}

.user-styles .btn-group-vertical{
position: relative;
top: 60px;
bottom: 0px;
overflow: visible;
}

.user-styles .brand-logo{

top: 5px;
bottom: 0px;
}

/*user sidepanel branding*/

.sidepanel .usersidepanel .btn{
border: 1px solid #FFFFFF;
border-radius: 0px 0px 0px 0px;
background-color: #293A89;
font-size: 12px;
}

.sidepanel .usersidepanel{
  padding:50px 50px 50px 50px;
  position: relative;
  text-align: center;

}

.sidepanel .usersidepanel a{
  color: #FFFFFF;
  text-decoration: none;

}
.sidepanel .usersidepanel{
  padding:10px 10px 10px 10px;
  position: relative;
  text-align: center;

}

.usersidepanel .user-info{
  padding-left: 25px;
}

.sidepanel .usersidepanel img{
position: relative;

}

.sidepanel  .usersidepanel p{
position: relative;
top: 30px;
text-align: center;
}

.sidepanel .usersidepanel .btn-group-vertical{
position: relative;
top: 100px;
}

.sidepanel .usersidepanel .brand-logo{
position: relative;
top: 50px;
}
